In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/carry/Documents/TMDB_movie_dataset_v11.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953405 entries, 0 to 953404
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    953405 non-null  int64
 1   title                 953394 non-null  object
 2   vote_average          953405 non-null  float64
 3   vote_count            953405 non-null  int64
 4   status                953405 non-null  object
 5   release_date          862657 non-null  object
 6   revenue               953405 non-null  int64
 7   runtime               953405 non-null  int64
 8   adult                 953405 non-null  bool
 9   backdrop_path         278486 non-null  object
 10  budget                953405 non-null  int64
 11  homepage              103900 non-null  object
 12  imdb_id               558107 non-null  object
 13  original_language     953405 non-null  object
 14  original_title        953394 non-null  object
 15  overview              786314 non-null  object
 16  popularity            953405 non-null  float64
 17  poster_path           705562 non-null  object
 18  tagline               138227 non-null  object
 19  genres                614830 non-null  object
 20  production_companies  463468 non-null  object
 21  production_countries  579636 non-null  object
 22  spoken_languages      586181 non-null  object
dtypes: bool(1), float64(2), int64(5), object(15)
memory usage: 160.9+ MB

In [4]:
# 2010년 이상 영화만 선택합니다.
df = df[df['release_date'].str[:4] >= '2010']

In [5]:
# ['genres','overview','production_countries','spoken_languages'] 컬럼이 NULL 값인 행을 삭제합니다.
df = df.dropna(subset=['genres','overview','production_countries','spoken_languages'])

In [6]:
# 분석에 사용하지 않은 열을 삭제합니다.
df = df.drop(columns=['backdrop_path', 'homepage', 'poster_path', 'tagline', 'production_companies','imdb_id'])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158938 entries, 0 to 953400
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    158938 non-null  int64
 1   title                 158938 non-null  object
 2   vote_average          158938 non-null  float64
 3   vote_count            158938 non-null  int64
 4   status                158938 non-null  object
 5   release_date          158938 non-null  object
 6   revenue               158938 non-null  int64
 7   runtime               158938 non-null  int64
 8   adult                 158938 non-null  bool
 9   budget                158938 non-null  int64
 10  original_language     158938 non-null  object
 11  original_title        158938 non-null  object
 12  overview              158938 non-null  object
 13  popularity            158938 non-null  float64
 14  genres                158938 non-null  object
 15  production_countries  158938 non-null  object
 16  spoken_languages      158938 non-null  object
dtypes: bool(1), float64(2), int64(5), object(9)
memory usage: 20.8+ MB

In [8]:
df.to_csv('TMDB_158938')